/*
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Patua One', cursive;

red: #f05257
blue: #2e63a4
pale yellow: #ffe68c
purple: #4e385e
base: #fffaee

TABLE OF CONTENTS
    1. global styles
    2. header
    3. nav styles
    4. special styles
    5. info styles
    6. footer
    7. form
    8. Mid-screen layout
    9. Large-screen layout
*/

body {
    background-color: #fff;
}

.container section {
    width: 80%;
    margin: auto;
}

section ul {
    display: flex;
    list-style-type: none;
    margin: 1em 0;
}

section li {
    border: solid 1px #999;
    padding: 1rem;
    margin-right: 1rem;
}

.light {
    background-color: #fffaee;
    color: #4e385e;
}

.dark {
    background-color: #333;
    color: #ffe68c;
}

#icons img {
    width: 80%;
}

#icons .sgBox {
    width: 200px;
    min-height: 200px;
}

/* colors */
#colors li {
    width: 150px;
    height: 180px;
    padding: 0;
}

#colors p {
    display: block;
    text-align: center;
    padding: .2em;
    background-color: #fff;
}

#colors li.base {
    background-color: #fffaee;
}
#colors li.yel {
    background-color: #ffe68c;
}
#colors li.bl {
    background-color: #2e63a4;
}
#colors li.purp {
    background-color: #4e385e;
}
#colors li.red {
    background-color: #f05257;
}

































